<h1>Lakes Records</h1>

<div class="addNewRun">
    <h3>Add new Run</h3>
    <!-- standard add new run form ;-->
    <form action="/" method="POST">
        Lake Name: <input name="name" type="text" required>
        <br>
        Distance in Miles: <input name="distance" type="number" required>
        <br>
        Run Date: <input name="dateRun" type="date" required>
        <br>
        Run Time in minutes: <input name="time" type="number" required>
        <br>
        <br>
        <input name="addLake" type="submit" value="Add new Lake">
        <br>
    </form>
</div>
<hr>
<!-- lakes is an array and runs is an array;  -->
<div class="RunData">
    <h3>All Runs</h3>
    {{# each Lakes}}
        <p>Name: {{this.name}}</p>
        <p>Distance: {{this.distance}}</p>
        <p>Runs for :{{this.name}} lake </p>
        <ul>
            {{#each this.runs}}
                <!-- dateformatter is the helper helps in formatting the date -->
                <li>Run data:{{dateFormatter this.dateRun}}&nbsp&nbsp:{{this.time}}</li>
            {{else}}
                <li>No Runs reported</li>
            {{/each}}
        </ul>
        <!-- add new run form ;  -->
        <form action="/addRun" method="POST">
            <input name="dateRun" type="date" required>
            <input name="time" type="text" required>
            <input name="_id" type="hidden" value="{{this._id}}">
            <input name="name" type="hidden" value="{{this.name}}">
            <input name="add" type="submit" value="Add new run">
        </form>
        <!-- add delete form;some hidden values for calculations; ;  -->
        <form action="/deleteLake" method="post">
            <input name="_id" type="hidden" value="{{this._id}}">
            <input name="name" type="hidden" value="{{this.name}}">
            <input name="delete" type="submit" value="delete">
        </form>
        <hr>
    {{/each}}
</div>
